<div id="contact">
    <h1> Contact Us </h1>

    <div class="contact_wrapper">
        <div class="details">
            <h1> Talk with a doctor! </h1>
            <p>
                Our doctors are licensed health professionals who maintain and restore human health through the practice
                of medicine.
            </p>

            <p>
                For any consultation fill the form and we will get back to you immediately.
            </p>
        </div>

        <form action="mailto:lifepointmed@gmail.com" method="post">
            <div class="form_input">
                <label> Full Name: </label><br>
                <input type="text" name="fullname" id="text" required>
            </div>

            <div class="form_input">
                <label> Email: </label><br>
                <input type="email" name="email" id="email" required>
            </div>

            <div class="form_input">
                <label> Mobile Number: </label><br>
                <input type="tel" name="tel" id="tel" required>
            </div>

            <div class="form_input">
                <label> Message: </label> <br>
                <textarea name="comment" id="comment" required cols="25" rows="10"></textarea>
            </div>

            <input type="submit" value="Submit" id="btn">
        </form>
    </div>
</div>