<div class="footer">
    <div class="content">
        <p>
            No 64, Moses Majekodunmi Cresent, beside Big joe motors Utako, Abuja.
        </p>

        <p>
            Opposite LG showroom, beside Firstbank Mararaba, Nasarawa State.
        </p>

        <a href="tel:+2347026088552">Tel: +2347026088552 </a><br>
        <a href="tel:+2348187788902">Tel: +2348187788902 </a><br>
        <a href="mailto:lifepointmed@gmail.com"> Email: lifepointmed@gmail.com </a>
    </div>

    <div class="content">
        <h2> Working Hours </h2>
        <p> Monday - Saturday: 8:00AM - 6:30AM </p>
        <p> Phone until 7:30PM </p>
        <P> Sunday: 1:00PM - 12:00AM </P>
    </div>

    <div class="content">
        <nav class="Navbar_items">
            <a href="/"> Home </a>
            <a href="#about"> About Us </a>
            <a href="services"> Services </a>
            <a href="#news"> News </a>
            <a href="#contact"> Contact </a>
        </nav>
    </div>

    <div class="content">
        <h2> Get In Touch </h2>
        <div class="social_items">
            <a href="http://" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-facebook    "></i>
            </a>

            <a href="http://" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-twitter    "></i>
            </a>

            <a href="http://" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-instagram    "></i>
            </a>

            <a href="https://web.whatsapp.com/send?phone=2348036775599&text=Welcome" target="_blank"
                rel="noopener noreferrer">
                <i class="fab fa-whatsapp    "></i>
            </a>
        </div>
    </div>
</div>