<div id="services">
    <!--<h1> Services We Offer </h1>-->
    <div class="service_container">
        <!-- <div class="service_grid">
            <i class="fas fa-star-of-life"></i>
            <h2> General Practice </h2>
            <p>
                We treat all common medical conditions combining physical, psychological and social aspects of care.
            </p>
        </div> -->
 
        <div class="service_grid">
            <i class="fas fa-procedures    "></i>
            <h2> Surgery </h2>
           <!--  <p>
                A branch of medicine that is concerned with the treatment of injuries, diseases, and other disorders by
                manual and instrumental means.
            </p> -->
        </div>

        <div class="service_grid">
            <i class="fas fa-x-ray    "></i>
            <h2> X-ray eye clinic </h2>
            <!-- <p> Common eyes conditions associated with abnormal eye discharge or infections can be treated here. </p>
            -->
        </div>

        <div class="service_grid">
            <i class="fas fa-tooth    "></i>
            <h2> Dental Care </h2>
            <!--<p> Our dentist study, diagnose, prevent and treat diseases, disorders and conditions of the oral cavity and
                oral mucosa  
            </p>-->
        </div>

        <div class="service_grid">
            <i class="fas fa-ambulance    "></i>
            <h2> Ambulance </h2>
            <!--<p>
                Our emergency care is very effective for any unplanned nature of patient illness and injuries, some of
                which maybe life-threatening and require immediate attention.
            </p>-->
        </div>

        <div class="service_grid">
            <i class="fas fa-vial    "></i>
            <h2> IVF Paediatric Care </h2>
            <!--<p> n-Vitro Fertilization (IVF) helps with fertilization, embryo development, and implementation, so you can
                get pregnant.  
            </p>-->
        </div>
    </div>
</div>